.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  position: absolute;
}
input[type=textbox].videoUrl{
  width: 90%;
}
textarea{
  resize: none;
  height: 480px;
}
textarea, .url, iframe {
  width: 640px;
  max-width: 100%;
}
.full{
  position: relative;
}
.sub{
  height: 25px;
  margin: 5px;
  text-align: center;
  margin-bottom: 27px;
}
.flex > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}
.full > button {
  position: absolute;
  right: 0;
  bottom: 0;
}
.full:-webkit-full-screen, .full.view {
  width: 100%;
  height: 100%;
  font-size: 2vmax;
  position: absolute;
  left: 0;
  top:0;
}
.full:-webkit-full-screen > iframe, .full.view > iframe {
  width: 100%;
  height: 90%;
}
.edit.view{
  display: none!important;
}

@media screen and (max-width: 480px) {
  iframe, textarea{
    height: 240px;
  }
}
