.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  position: absolute;
}
input[type=textbox].videoUrl{
  width: 90%;
}
textarea{
  resize: none;
  height: 480px;
}
textarea, .url, iframe {
  width: 640px;
  max-width: 100%;
}
.full{

}
.sub{
  height: 25px;
  margin: 5px;
  text-align: center;
}
.flex > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  iframe, textarea{
    height: 240px;
  }
}
