.flex{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
input[type=textbox].videoUrl{
  width: 580px;
}
textarea{
  width: 640px;
  resize: none;
  height: 100px;
}
.sub{
  height: 25px;
  margin: 5px;
}
